/*人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。
当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。*/
*,:after,:before{
    -webkit-box-sizing: border-box;/*兼容*/
    -moz-box-sizing: border-box;/*兼容firefox*/
    box-sizing: border-box;
}
/*配置布局容器和列容器*/
@media (min-width:1200px){
    .container{
        width:1170px;
    }
    .container{
        width:970px;
    }
    .col-lg-1{
        width:8.33333333%;
        float:left;
    }
    .col-lg-2{
        width:16.666666667%;
        float:left;
    }
    .col-lg-3{
        width:25%;
        float:left;
    }
    .col-lg-4{
        width:33.33333333%;
        float:left;
    }
    .col-lg-5{
        width:41.66666667%;
        float:left;
    }
    .col-lg-6{
        width:50%;
        float:left;
    }
    .col-lg-7{
        width:58.33333333%;
        float:left;
    }
    .col-lg-8{
        width:66.66666667%;
        float:left;
    }
    .col-lg-9{
        width:75%;
        float:left;
    }
    .col-lg-10{
        width:83.33333333%;
        float:left;
    }
    .col-lg-11{
        width:91.66666667%;
        float:left;
    }
    .col-lg-12{
        width:100%;
        float:left;
    }
}
@media (min-width: 992px){
    .container{
        width:970px;
    }
    .col-md-1{
        width:8.33333333%;
        float:left;
    }
    .col-md-2{
        width:16.666666667%;
        float:left;
    }
    .col-md-3{
        width:25%;
        float:left;
    }
    .col-md-4{
        width:33.33333333%;
        float:left;
    }
    .col-md-5{
        width:41.66666667%;
        float:left;
    }
    .col-md-6{
        width:50%;
        float:left;
    }
    .col-md-7{
        width:58.33333333%;
        float:left;
    }
    .col-md-8{
        width:66.66666667%;
        float:left;
    }
    .col-md-9{
        width:75%;
        float:left;
    }
    .col-md-10{
        width:83.33333333%;
        float:left;
    }
    .col-md-11{
        width:91.66666667%;
        float:left;
    }
    .col-md-12{
        width:100%;
        float:left;
    }
}
@media (min-width: 768px){
    .container{
        width:750px;
    }
    .col-sm-1{
        width:8.33333333%;
        float:left;
    }
    .col-sm-2{
        width:16.666666667%;
        float:left;
    }
    .col-sm-3{
        width:25%;
        float:left;
    }
    .col-sm-4{
        width:33.33333333%;
        float:left;
    }
    .col-sm-5{
        width:41.66666667%;
        float:left;
    }
    .col-sm-6{
        width:50%;
        float:left;
    }
    .col-sm-7{
        width:58.33333333%;
        float:left;
    }
    .col-sm-8{
        width:66.66666667%;
        float:left;
    }
    .col-sm-9{
        width:75%;
        float:left;
    }
    .col-sm-10{
        width:83.33333333%;
        float:left;
    }
    .col-sm-11{
        width:91.66666667%;
        float:left;
    }
    .col-sm-12{
        width:100%;
        float:left;
    }
}
//配置最小移动优先列容器的宽度
[class*="col-xs"]{
    width:100%;
	float：left;
}
//配置列的公共项
[class*='col-']{
    position: relative;
    min-height: 1px;
    padding: 12px;
}
//配置行容器
.row{
    clear: both;
    display: table;
    content: " ";
    width:100%;
 }
 //配置自适应容器宽度
.container-flud{
    width : 100%;
}
